@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Yellowtail&display=swap");
body {
  line-height: 1.75rem;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  color: #bbbbbb;
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body ul,
body ol,
body li,
body label,
body input {
  padding: 0;
  margin: 0;
  display: contents;
}

header {
  position: fixed;
  background: rgba(0, 0, 0, 0.596);
  height: 55px;
  width: 100%;
}

header .logo_area {
  width: 200px;
  padding-left: 30px;
}

header .logout_area {
  float: right;
  margin-top: -45px;
  padding-right: 40px;
  font-weight: 700;
}

header .logout_area a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: 1s;
  transition: 1s;
}

header .logout_area a:hover {
  background: #113d8e;
}

header #header_btn {
  z-index: 1;
  color: #bbbbbb;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 23px;
  margin: 5px 0;
  padding-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: color;
  transition-property: color;
}

header #header_btn:hover {
  color: #113d8e;
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  width: 80px;
  margin-left: 170px;
  margin-bottom: 15px;
}

.sidebar {
  background-color: #0c0c0c;
  position: fixed;
  margin-top: 55px;
  padding-top: 30px;
  left: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: left;
  transition-property: left;
}

.sidebar .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 20px;
}

.sidebar h4 {
  margin-bottom: 20px;
  letter-spacing: 3px;
  font-family: "Yellowtail", cursive;
}

.sidebar li {
  padding: 5px 0;
  list-style: none;
}

.sidebar li a {
  color: #bbbbbb;
  text-decoration: none;
  width: 100%;
  display: block;
  padding-left: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar li a i {
  padding-right: 10px;
}

.sidebar li a:hover {
  background: #113d8e;
}

#check:checked ~ .contentBar {
  margin-left: 60px;
}

.contentBar {
  margin-left: 250px;
  padding-top: 55px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.contentBar #myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #000000;
  color: white;
  cursor: pointer;
}

.contentBar #home {
  background-color: #0c0c0c;
  min-height: 100vh;
}

.contentBar #home .banner {
  padding-top: 55px;
}

.contentBar #about {
  background-color: #0c0c0c;
  min-height: 300px;
}

.contentBar #services {
  background-color: red;
  min-height: 200px;
}

.contentBar #news {
  background-color: #0c0c0c;
  min-height: 250px;
}

.contentBar #portfolio {
  background-color: red;
  min-height: 200px;
}
/*# sourceMappingURL=main.css.map */